{% load static menu_tags wagtailcore_tags wagtailimages_tags %}
{% get_menu 'for_candidate' as candidate_navigation %}
{% get_menu 'quick_links' as quick_navigation %}

<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="{% static 'img/logo.png' %}" alt="logo">
                        </a>
                    </div>

                    <p>{{ settings.site_settings.CompanySettings.summary }}</p>
                    
                    {% if settings.site_settings.SocialMediaSettings.social_media_links.all %}
                    <div class="footer-social">
                    {% for item in settings.site_settings.SocialMediaSettings.social_media_links.all %}
                        <a href="{{ item.link }}" target="_blank"><i class='bx {{ item.icon_class }}'></i></a>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if candidate_navigation %}
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-60">
                    <h3>For Candidate</h3>
                    <ul>
                        {% for item in candidate_navigation.menu_items.all %}
                        <li>
                            <a href="{{ item.link }}"  {% if item.open_in_new_tab %} target="_blank" {% endif %}>
                                <i class='bx bx-chevrons-right bx-tada'></i>
                                {{ item.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if quick_navigation %}
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-60">
                    <h3>Quick Links</h3>
                    <ul>
                        {% for quick_item in quick_navigation.menu_items.all %}
                        <li>
                            <a href="{{ quick_item.link }}"  {% if quick_item.open_in_new_tab %} target="_blank" {% endif %}>
                                <i class='bx bx-chevrons-right bx-tada'></i>
                                {{ quick_item.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget footer-info">
                    <h3>Information</h3>
                    <ul>
                        <li>
                            <span>
                                <i class='bx bxs-phone'></i>
                                Phone:
                            </span>
                            <a href="tel:882569756">
                                {{ settings.site_settings.ContactInfo.phone }}
                            </a>
                        </li>

                        <li>
                            <span>
                                <i class='bx bxs-envelope'></i>
                                Email:
                            </span>
                            <a href="mailto:{{ settings.site_settings.ContactInfo.email }}">
                                {{ settings.site_settings.ContactInfo.email }}
                            </a>
                        </li>

                        <li>
                            <span>
                                <i class='bx bx-location-plus'></i>
                                Address:
                            </span>
                            {{ settings.site_settings.ContactInfo.address }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>