<div class="container">
  <div class="section-title text-center">
    <h2>{{ self.heading }}</h2>
  </div>

  <div class="row">
    {% for item in self.items %}
    <div class="col-lg-4 col-sm-6 {% if forloop.last %}offset-sm-3 offset-lg-0{% endif %}">
      <div class="use-text">
        <span>{{ forloop.counter }}</span>
        <i class='{{ item.flat_icon_class }}'></i>
        <h3>{{ item.title }}</h3>
        <p>{{ item.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>