{% extends "base.html" %}

{% block content %}

<section>
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-lg-6 py-5">
        <div class="text-center">
          <h1 class="mb-4">Your application has been submitted successfully</h1>
          <p>We will contact you shortly.</p>
          <div class="theme-btn">
            <a href="/" class="default-btn">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}